.contenido {
    margin: 0 100px;
    padding-top: 70px;
}

.contenido h1 {
    padding-bottom: 10px;
}

.contenido p {
    font-size: 20px;
}

.presentacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 50px;
}

.presentacion_texto {
    flex: 1;
    margin-right: 20px;
}

.presentacion_imagen {
    flex: 0 0 auto;
}


.presentacion_texto h1 {
    font-size: 30px;
    font-weight: bold;
}

.presentacion_texto p {
    font-size: 26;
    padding: 5px;
}

.presentacion a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.presentacion_imagen {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    overflow: hidden;
}

.presentacion_imagen img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sobreMi h1 {
    font-size: 24px;
    font-weight: bold;
}

.sobreMi p{
    padding-bottom: 20px;
}

.links a {
    margin-right: 3rem;
}