.contenido{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .4rem;
    background-color: #333;
    color: whitesmoke;
    text-transform: uppercase;
}

.contenido h2{
    font-weight: 100;
    font-size: 26px;
    margin: 0;
}

.contenido h2 span{
    font-weight: bold;
    font-size: 13px;
}

.contenido div a{
    display: inline;
    color: whitesmoke;
    text-decoration: none;
    margin-right: 1rem;
}

