.footer{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 12px;
    color: #fff;
    background-color: #333;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}