.fondo{
    background-color: #5754543b;
}

.contenido {
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    overflow: hidden;
}

.imagen img {
    height: 420px;
    margin-right: 20px;
}

.formulario{
    height: 420px;
}

.formulario input,
.formulario textarea,
.formulario button {
    display: block;
    margin-bottom: 13px;
}

.formulario label,
.formulario input,
.formulario textarea {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formulario h1 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}

.formulario p {
    padding-bottom: 12px;
    text-shadow: 2px 2px 2px #00000057;
}

.formulario button {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
}