.fondo {
    background-color: #f8f8f8;
}

.contenido {
    margin: 0 100px;
    padding: 70px 0;
}

.contenido h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 80px;
}

.contenido ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    color: #424242;
    text-shadow: 2px 2px 2px #00000057;
}

.contenido li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 50%;
    background-color: #ffff;
}

.contenido li img {
    height: 100%;
    width: auto;
    padding-bottom: 10px;
}

.contenido li p {
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .contenido {
        margin: 0 20px;
    }

    .contenido li{
        width: 100%;
    }

    .contenido li img {
        height: auto;
        max-height: 200px;
    }

    .contenido ul {
        flex-flow: column wrap;
    }
}