.fondo {
    background-color: #e9e9e9;
}

.contenido {
    margin: 0 100px;
    padding: 100px 0;
}

.contenidoProyectos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenidoLista {
    display: flex;
    width: 100%;    
    margin-top: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid #424242;
    border-radius: 10px;
}

.listaLenguajes{
    list-style: circle;
    padding-left: 20px;
}

.titulo {
    font-weight: bold;
}

.tamTitulo {
    font-size: 24px;
    text-align: center;
}

.tamSubTitulo {
    font-size: 18px;
    padding-bottom: 10px;
}

.contenidoTarjeta {
    color: #424242;
    text-shadow: 2px 2px 2px #00000057;
}

.logoGit{
    height: 150px;
}

.realizadoCon {
    font-size: 14px;
    padding-bottom: 10px;
}

.realizadoCon h1 {
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .contenido {
        margin: 0 40px;
    }

    .contenidoLista{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
}